*.bin
*.o
*.elf
ipshared/
*_netlist.*
*_stub.*
*.dcp
*.veo
*.vho
*.hwh
*.hdf
thinpad_top.tmp/
thinpad_top.cache/
thinpad_top.hw/
thinpad_top.ip_user_files/
thinpad_top.runs/
thinpad_top.sim/sim_1/behav/xsim/
.Xil/
*.jou
*.log
*.dcp
/.lint/
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/details.md
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/diff-details.md
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/diff.csv
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/diff.md
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/diff.txt
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/results.csv
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/results.json
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/results.md
thinpad_top.srcs/sources_1/new/.VSCodeCounter/2023-12-22_20-51-19/results.txt
vivado_pid7644.str
